
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
@Html.Action("PartialHead", "Admin")
<body>

    <div class="wrapper d-flex align-items-stretch">
@Html.Action("PartialSidebar","Admin")

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

@Html.Action("PartialNavbar", "Admin")

            <h2 class="mb-4">Sidebar #01</h2>
            <table class="table table-bordered">
                <tr>
                    <th>Ürün Id</th>
                    <th>Ürün Adı</th>
                    <th>Kategori</th>
                    <th>Sil</th>
                    <th>Güncelle</th>
                </tr>
                <tr>
                    <td>A256874</td>
                    <td>Domates</td>
                    <td>Sebze</td>
                    <td><button class="btn btn-danger">Sil</button></td>
                    <td><button class="btn btn-success">Güncelle</button></td>
                </tr>
            </table>
        </div>
    </div>

@Html.Action("PartialScripts","Admin")
</body>
</html>
