@model PortfolioProjectNight.Models.Service
@{
    ViewBag.Title = "CreateService";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Yeni Hizmet Ekleme Sayfası</h2>
<form method="post">
    <label>Başlık</label>
    @Html.TextBoxFor(s => s.Title, new { @class = "form-control" })
    <br />
    <label>Ikon</label>
    @Html.TextBoxFor(s => s.Icon, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(s => s.Description, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Hizmet Ekle</button>
</form>

