@model PortfolioProjectNight.Models.Service
@{
    ViewBag.Title = "UpdateService";
    Layout = "~/Views/Admin/Index.cshtml";
}
<div class="alert alert-warning"><strong>Hizmet Güncelleme Sayfası</strong></div>
<h2 class="mb-4"></h2>
<form method="post">
    @Html.HiddenFor(s => s.ServiceId)
    <label>Başlık</label>
    @Html.TextBoxFor(s => s.Title, new { @class = "form-control" })
    <br />
    <label>Ikon</label>
    @Html.TextBoxFor(s => s.Icon, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(s => s.Description, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-success">Hizmet Güncelle</button>
</form>

