@model List<PortfolioProjectNight.Models.Contact>
@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Admin/Index.cshtml";
    int count = 0;
    string boxColor = "";
}
<style>
    .proje-talebi{background-color:cornflowerblue;}
    .referans{background-color:burlywood;}
    .sikayet{background-color:darkolivegreen;}
    .staj{background-color:coral;}
</style>
<div class="alert alert-info"><strong>Gelen Mesajların Listesi</strong></div>
<table class="table table-bordered">
    <tr style="background-color:cadetblue; color:white;">
        <th>#</th>
        <th>Gönderen</th>
        <th>Tarih</th>
        <th>Konu</th>
        <th>Durum</th>
        <th>Mesajı Aç</th>
        <th>Mesajı Sil</th>
    </tr>
    <tr>
        @foreach (var item in Model)
        {
            count++;
            if (item.Subject == "Proje Talebi") { boxColor = "proje-talebi"; }
            if (item.Subject == "Referans") { boxColor = "referans"; }
            if (item.Subject == "Şikayet") { boxColor = "sikayet"; }
            if (item.Subject == "Staj") { boxColor = "staj"; }
        <tr>
            <th>@count</th>
            <td>@item.NameSurname</td>
            <td>@item.SendDate</td>
            <td><span class="@boxColor p-2" style="color:white; font-size:small">@item.Subject</span></td>
            @if (item.IsRead == false)
            {
                <td><a href="/Message/ChangeMessageStatusToTrue/@item.ContactId" class="btn btn-outline-info">Okundu</a></td>
            }
            else
            {
                <td><a href="/Message/ChangeMessageStatusToFalse/@item.ContactId" class="btn btn-outline-dark">Okunmadı</a></td>
            }
            <td><a href="#" class="btn btn-outline-warning">Mesajı Aç</a></td>
            <td><a href="#" class="btn btn-outline-danger">Mesajı Sil</a></td>
        </tr>
    }

    </table>

