@model PortfolioProjectNight.Models.Testimonial
@{
    ViewBag.Title = "CreateTestimonial";
    Layout = "~/Views/Admin/Index.cshtml";
}
<div class="alert alert-success"><strong>Yeni Referans Ekleme Sayfası</strong></div>

<form method="post">
    <label>Ad Soyad</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br />
    <label>Alt Başlık</label>
    @Html.TextBoxFor(x => x.SubTitle, new { @class = "form-control" })
    <br />
    <label>ImageUrl</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <label>Yorum</label>
    @Html.TextAreaFor(x => x.Comment, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-info">Referans Ekle</button>
</form>


