@model PortfolioProjectNight.Models.SocialMedia
@{
    ViewBag.Title = "CreateSocialMedia";
    Layout = "~/Views/Admin/Index.cshtml";
}
<div class="alert alert-success"><strong>Yeni Sosyal Medya Ekleme Sayfası</strong></div>
        <form method="post">
            <label>Başlık</label>
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
            <br />
            <label>Url</label>
            @Html.TextBoxFor(x => x.Url, new { @class = "form-control" })
            <br />
            <label>Ikon</label>
            @Html.TextBoxFor(x => x.Icon, new { @class = "form-control" })
            <br />
            <label>Durum</label>
            @Html.DropDownListFor(x => x.Durum, (IEnumerable<SelectListItem>)ViewBag.StatusList, new { @class = "form-control" })
            <br />
            <button class="btn btn-outline-info">Sosyal Medya Ekle</button>
        </form>

