@model List<PortfolioProjectNight.Models.Category>
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="alert alert-info"><strong>Kategori Listesi ve İşlemleri</strong></div><br />
    <table class="table table-striped">
        <tr style="background-color:cadetblue; color:white;">
            <th>#</th>
            <th>Kategori Adı</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
                <td><a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-outline-danger">Sil</a></td>
                <td><a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-outline-success">Güncelle</a></td>
            </tr>
        }
    </table>

    <td><a href="/Category/CreateCategory/" class="btn btn-outline-info">Yeni Kategori Girişi</a></td>


