@{
    ViewBag.Title = "CreateCategory";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="alert alert-success"><strong>Yeni Kategori Girişi</strong></div>
<form method="post">
    <label>Kategori Adı</label>
    <input type="text" name="CategoryName" class="form-control" />
    <br />
    <button class="btn btn-outline-info">Yeni Kategori Girişi</button>
</form>

