<div class="col-12 wow fadeInUp" data-wow-delay="0.5s">
    <div class="rounded">
        <iframe class="rounded w-100"
                style="height: 400px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3007.7569098629633!2d29.05556707653131!3d41.07430601535577!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac9effd7a1e99%3A0xf9fae70c5789f500!2zS2FuZGlsbGkgQmFsxLFrw6fEsXPEsSBTdW5hIEFibGE!5e0!3m2!1str!2str!4v1728222241668!5m2!1str!2str"
                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

