@model PortfolioProjectNight.Models.About
@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Hakkımda Yazısı Güncelleme Sayfası</h2>
<form method="post">
    @Html.HiddenFor(s => s.AboutId)
    <label>Başlık</label>
    @Html.TextBoxFor(s => s.Title, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(s => s.Description, new { @class = "form-control" })
    <br />
    <label>Resim Yolu</label>
    @Html.TextBoxFor(s => s.ImageUrl, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Hakkımda Yazısını Güncelle</button>
</form>

